## Multinomial Naive Bayes classification

Lendo e separando os dados

In [2]:
#Import scikit-learn dataset library
from sklearn import datasets
import pandas as pd
#Load dataset
names = ['''Wife's age''','''Wife's education''','''Husband's education''', 'Number of children ever born', '''Wife's religion''','''Wife's now working?''', '''Husband's occupation''','Standard-of-living index', 'Media exposure', 'Contraceptive method used']

data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/cmc/cmc.data', names=names)
data = data.sample(frac=1) # Get random data
data.head()
#

,Wife's age,Wife's education,Husband's education,Number of children ever born,Wife's religion,Wife's now working?,Husband's occupation,Standard-of-living index,Media exposure,Contraceptive method used
1273,26,3,3,2,1,1,1,3,0,2
197,36,3,4,6,1,1,2,4,0,1
442,46,4,4,2,1,0,1,4,0,2
604,40,3,4,2,0,1,3,4,0,2
1312,42,2,4,5,0,1,2,3,0,2

*****************************************************
            SEPARANDO OS ATRIBUTOS E CLASSE
*****************************************************

In [18]:
x_values = data[['''Wife's age''','''Wife's education''','''Husband's education''', 'Number of children ever born', '''Wife's religion''','''Wife's now working?''', '''Husband's occupation''','Standard-of-living index', 'Media exposure']]
y_values= data[['Contraceptive method used']]
x_values.head()

,Wife's age,Wife's education,Husband's education,Number of children ever born,Wife's religion,Wife's now working?,Husband's occupation,Standard-of-living index,Media exposure
1273,26,3,3,2,1,1,1,3,0
197,36,3,4,6,1,1,2,4,0
442,46,4,4,2,1,0,1,4,0
604,40,3,4,2,0,1,3,4,0
1312,42,2,4,5,0,1,2,3,0

**********************************************************************
UTILIZA-SE O METODO REPLACE PRA SUBSTITUIR A STRING COMO INDICADO EM MAPPING
**********************************************************************

In [19]:

mapping = {1: 0, 2: 1, 3: 2}
#mplist = []

#for key in mapping:
#    mplist.append(key)
print('\n------------After mapping------------\n')
y_values = y_values.replace(mapping)
y_values.head()
#y_values.describe()

------------After mapping------------

      Contraceptive method used
1273                          1
197                           0
442                           1
604                           1
1312                          1

Dividindo o conjunto de dados em treino e teste

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_values.values, y_values.values, test_size = 0.10)

In [22]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
import numpy as np

y_train = np.array([a for a in y_train])
#print(y_train)

#invertendo o y_train, pra resultar em apenas uma coluna

y_train = y_train.ravel() 
y_train

array([0, 0, 1, ..., 1, 0, 0])

**********************************************************************
TREINANDO O MODELO
**********************************************************************

In [23]:
#Create a Gaussian Classifier
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
print(y_train.shape)
y_train = y_train.ravel()
print(y_train.shape)

gnb = GaussianNB()
#Train the model using the training sets
gnb.fit(X_train, y_train)

(1325,)
(1325,)

GaussianNB(priors=None, var_smoothing=1e-09)

Predizendo

In [24]:
#Predict the response for test dataset
y_pred = gnb.predict(X_test)
y_pred

array([2, 1, 1, 0, 0, 0, 1, 2, 0, 2, 1, 0, 1, 0, 2, 1, 2, 2, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 2, 0, 1, 2, 0, 0, 2, 2, 0, 2, 2, 2, 2, 2, 0,
       2, 1, 0, 1, 1, 2, 1, 1, 2, 1, 2, 2, 1, 0, 0, 2, 2, 2, 2, 0, 1, 1,
       1, 2, 2, 0, 1, 1, 0, 2, 0, 2, 1, 1, 1, 1, 1, 0, 0, 1, 2, 2, 1, 1,
       2, 1, 0, 1, 2, 1, 2, 2, 2, 1, 1, 1, 1, 1, 2, 1, 0, 2, 1, 0, 2, 2,
       2, 0, 2, 2, 1, 0, 0, 1, 1, 2, 0, 2, 1, 2, 1, 2, 2, 0, 1, 0, 2, 0,
       1, 2, 2, 0, 2, 1, 1, 1, 2, 0, 2, 2, 1, 2, 1, 1])

In [25]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Mean Squared error: ",metrics.mean_squared_error(y_test, y_pred))
print("Squared Log: ",metrics.mean_squared_log_error(y_test, y_pred))

Accuracy: 0.44594594594594594
Mean Squared error:  1.1418918918918919
Squared Log:  0.3508929120307674

https://scikit-learn.org/stable/modules/naive_bayes.html